<%= form_with(model: music, local: true) do |form| %>
  <% if music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(music.errors.count, "error") %> prohibited this music from being saved:</h2>

      <ul>
      <% music.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :music_name %>
  </div>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist, id: :music_artist %>
  </div>

  <div class="field">
    <%= form.label :video_link %>
    <%= form.text_field :video_link, id: :music_video_link %>
  </div>

  <div class="field">
    <%= form.label :bpm %>
    <%= form.number_field :bpm, id: :music_bpm %>
  </div>

  <div class="field">
    <%= form.label :bg_link %>
    <%= form.text_field :bg_link, id: :music_bg_link %>
  </div>

  <div class="field">
    <%= form.label :notes_link %>
    <%= form.text_field :notes_link, id: :music_notes_link %>
  </div>

  <div class="field">
    <%= form.label :img_link %>
    <%= form.text_field :img_link, id: :music_img_link %>
  </div>
  <div class="field">
    <%= form.label :tone %>
    <%= form.text_field :tone, id: :music_tone %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
